In [9]:
import joblib
import pandas as pd
import numpy as np

data = {
    'longitude': [-118.25, -122.25, -119.53, -117.15, -121.32, -118.39, -122.41, -117.07, -119.78, -122.27],
    'latitude': [34.05, 37.85, 36.33, 32.72, 38.71, 33.84, 37.77, 32.63, 36.74, 37.93],
    'housing_median_age': [32, 45, 18, 12, 29, 22, 38, 15, 27, 40],
    'total_rooms': [2500, 1800, 3200, 1500, 2800, 2100, 1900, 1700, 2400, 2000],
    'total_bedrooms': [550, 380, 700, 300, 620, 450, 400, 350, 500, 420],
    'population': [1250, 820, 1500, 600, 1350, 950, 880, 720, 1100, 900],
    'households': [480, 350, 620, 250, 580, 420, 380, 300, 450, 390],
    'median_income': [4.25, 6.80, 3.50, 2.90, 5.20, 4.75, 7.10, 3.20, 4.90, 6.50],
    'ocean_proximity': ['NEAR BAY', 'NEAR OCEAN', 'INLAND', '<1H OCEAN', 'INLAND', 'NEAR BAY', 'NEAR OCEAN', '<1H OCEAN', 'INLAND', 'NEAR OCEAN'],
    'median_house_value': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]
}


# Load model
loaded_model_1 = joblib.load('../03_Model/03_best_model.pkl')
loaded_model_2 = joblib.load('../03_Model/03A_best_model.pkl')
loaded_model_3 = joblib.load('../03_Model/03B_best_model.pkl')

# Baca data baru
new_data = pd.DataFrame(data)

X_new = new_data.drop('median_house_value', axis=1)

X_new_fe = new_data.drop('median_house_value', axis=1)
# Create new features
X_new_fe['rooms_per_household'] = X_new_fe['total_rooms'] / X_new_fe['households']
X_new_fe['bedrooms_per_room'] = X_new_fe['total_bedrooms'] / X_new_fe['total_rooms']
X_new_fe['population_per_household'] = X_new_fe['population'] / X_new_fe['households']
# Prediksi
prediksi_1 = loaded_model_1.predict(X_new)
prediksi_2 = loaded_model_2.predict(X_new_fe)
prediksi_3 = loaded_model_3.predict(X_new_fe)

# Tambahkan hasil prediksi ke data
new_data['predicted_1'] = prediksi_1
new_data['predicted_2'] = prediksi_2
new_data['predicted_3'] = prediksi_3
new_data.to_csv('../01_Data/new_data_with_predictions.csv', index=False)

In [10]:
check_predicted = pd.read_csv('../01_Data/new_data_with_predictions.csv')

In [13]:
check_predicted[['predicted_1','predicted_2','predicted_3']]

   predicted_1  predicted_2  predicted_3
0    296774.94    278099.56    252864.02
1    387590.30    334910.44    343231.25
2     86604.42     93616.72    104096.05
3    211951.48    193651.08    182309.25
4    188697.88    202791.12    196674.83
5    408605.84    429479.22    359828.66
6    454781.16    456943.80    397674.80
7    148622.22    195763.28    184462.52
8    142264.08    117967.85    157075.17
9    399224.25    312730.44    347295.66